*{
    box-sizing: border-box;
    font-family: 'Fira Sans', Sans-serif;
}
body{
    margin: 0;

}
h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem ;
    text-decoration: none;
}

p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: 5px dotted white ;
    border-bottom: none;
    margin: 20px auto ;
    width: 70px;
}


[class*="col-"]{
    float: left;
    padding: 10px;
}

/* For mobile  */
[class*="col-"]{
    width: 100%;
}

/* Navbar design start from here  */
.navbar{
    background-color: #40868b;
    padding: 1% 5%;
    text-align: center;


}

.nav-logo img{
    height: 160px;
    width: 150px;
}

.navbar h1{
    color:white;
    margin:0;
    padding-top: 10px;
}

.navbar-menu{
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0px ;
    padding: 10px;

}

.navbar-menu a:hover{
    background-color: gray;

}

.navbar::after{
    content: '';
    display: table;
    clear: both;

}

/* Navbar design ends here  */



/* Profile design start from here  */

.profile{
    padding: 130px 10px ;
    position: relative;
    text-align: center;
}
.top-exchange-icon{
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;
}

.top-exchange-icon:hover{
    transform: rotate(360deg);
}

.profile-desc h1{
    font-family: 'satisfy',cursive;
    font-size: 3rem;
}

.profile-desc p{
    color: gray;
    text-align: center;
    width:90% ;
    margin: 0px auto 20px auto ;
}


.bottom-exchange-icon{
    position: absolute;
    bottom: 10px;
    left: 60px;
    transition: transform 2s;
}

.bottom-exchange-icon:hover{
    transform: rotate(360deg);
}

.profile::after{
    display:table ;
    content: '';
    clear: both;
    
}

/* Profile design ends here  */


/* About me design start here  */

.about-me{
    background-color: #39a4a6;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat',sans-serif ;
}

.about-me a{
    font-size: 1.2rem;
}

.about-me p{
    text-align: center;


}


.aboutme-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.cv-button{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px ;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}


.about-me::after{
    clear: both;
    display: table;
    content: '';

}

/* About me design ends here  */


/* professional-experience start here  */

.professional-experience{
    padding: 1% 0%;

}

.card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    

}

.card:hover{
    box-shadow: 0px 3px 6px 4px black;

}

.card-icon{
    text-align: center;
    
}

.card-icon img{
    margin-top: 20px;
    width: 100px;
    border-radius: 50%;
    padding: 10x;
    border: 4px solid white;
    
}


.card-title h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
    
}

.skills-container{
    padding-right: 45px;

}

.skills-container li{
    list-style-type: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;

}

.skills-container li::before{
    content: '';
    position: absolute;
    background-color: rgb(86, 86,153 , .5) ;
    top: calc(100% + 5px) ;
    width: 100% ;
    height: 10px;
    left: 0;
    border-radius: 1000px;


}


.skills-container li::after{
    content: '';
    position: absolute;
    background-color: rgb(86, 86,153 , 1) ;
    top: calc(100% + 5px) ;
    width: 0 ;
    height: 10px;
    left: 0;
    border-radius: 1000px;
    animation-duration: 3s;
    animation-delay: 2s ;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;


}


.skills-container li.html::after{
    animation-name: html;
}

@keyframes html{
    to{
        width: 90%;
    }
}


.skills-container li.css::after{
    animation-name: css;
}

@keyframes css{
    to{
        width: 70%;
    }
}


.skills-container li.bootstrap::after{
    animation-name: bootstrap;
}

@keyframes bootstrap{
    to{
        width: 50%;
    }
}


.skills-container li.javascript::after{
    animation-name: javascript;
}

@keyframes javascript{
    to{
        width: 50%;
    }
}


.skills-container li.jquery::after{
    animation-name: jquery;
}

@keyframes jquery{
    to{
        width: 50%;
    }
}


.skills-container li.node::after{
    animation-name: node;
}

@keyframes node{
    to{
        width: 50%;
    }
}


.skills-container li.expres::after{
    animation-name: expres;
}

@keyframes expres{
    to{
        width: 50%;
    }
}


.skills-container li.github::after{
    animation-name: github;
}

@keyframes github{
    to{
        width: 60%;
    }
}


.skills-container li.react::after{
    animation-name: react;
}

@keyframes react{
    to{
        width: 50%;
    }
}



.professional-experience::after{
    display: table;
    clear: both;
    content: '';

}

/* professional-experience ends here  */